## Fetch the proposed datasets understudy

### Setup
    Install required libraries

In [1]:
import eurostat
import io
import pandas
import requests
import jsonstat

### Eurostat data
    - Agriculture price indecies of product

In [9]:
# price indecies of product 2015 base year
price_idx_products_annual_code = 'apri_pi15_outa'
price_idx_products_annual_dataframe = eurostat.get_data_df(price_idx_products_annual_code, flags=False)
price_idx_products_annual_dataframe.sample(5)

,p_adj,unit,product,geo\time,2021,2020,2019,2018,2017,2016,2015
82,NI,I15,011100,SE,152.45,117.65,111.82,138.94,97.20,94.95,100.0
316,NI,I15,021000,IT,152.60,105.10,93.60,97.60,107.70,101.10,100.0
7682,RI,PCH_PRE,041950,NL,NaN,-24.07,-10.38,190.30,-49.22,-23.28,NaN
1529,NI,I15,064900,BG,NaN,107.98,90.74,98.80,86.51,92.60,100.0
40,NI,I15,011000,EU28,NaN,110.48,104.30,105.04,95.32,88.77,100.0

In [46]:
# price indecies of product 2010 base year
price_idx_products_annual2010_code = 'apri_pi10_outa'
price_idx_products_annual2010_dataframe = eurostat.get_data_df(price_idx_products_annual2010_code, flags=False)
price_idx_products_annual2010_dataframe = (price_idx_products_annual2010_dataframe
                                           .rename(columns={price_idx_products_annual2010_dataframe
                                                            .columns[3]:'geotime'})
                                          )
price_idx_products_annual2010_dataframe.sample(5)

,p_adj,unit,product,geotime,2017,2016,2015,2014,2013,2012,...,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
2232,NI,PCH_PRE,013000,PL,4.3,-4.8,-1.8,-14.4,-11.7,9.4,...,-34.9,-0.3,56.4,9.9,NaN,NaN,NaN,NaN,NaN,NaN
601,NI,I10,041100,AT,153.3,133.1,162.5,123.8,130.8,105.1,...,82.9,90.6,108.7,80.8,64.0,73.1,95.2,104.9,79.0,85.4
2197,NI,PCH_PRE,012000,DE,10.2,-5.3,-4.4,-5.3,-21.1,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3362,NI,PCH_PRE,061930,FI,15.9,5.7,11.0,9.1,NaN,4.8,...,-0.4,20.5,8.3,0.0,-12.8,12.3,46.7,8.4,-5.7,NaN
6622,RI,PCH_PRE,021100,SE,-4.0,4.4,13.1,-12.3,-21.5,0.6,...,-25.6,29.7,17.8,9.4,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
price_idx_products_annual2010_dataframe["geotime"].value_counts()

EU28    452
ES      392
PT      384
HR      376
FR      364
EL      364
IT      356
AT      348
HU      348
CY      340
BG      336
RO      324
LV      296
UK      292
PL      276
BE      272
SI      272
SE      268
CZ      268
SK      268
DK      264
NL      240
DE      236
MT      232
LT      228
LU      220
FI      220
IE      168
Name: geotime, dtype: int64

In [50]:
price_idx_products_annual2010_dataframe.query("geotime=='IE'")

,p_adj,unit,product,geotime,2017,2016,2015,2014,2013,2012,...,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
14,NI,I10,010000,IE,116.5,115.8,114.3,121.0,156.7,153.4,...,98.4,138.8,121.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NI,I10,011000,IE,115.9,114.5,112.5,NaN,156.5,151.2,...,94.5,136.8,121.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NI,I10,011100,IE,115.9,114.5,112.5,NaN,156.5,151.2,...,94.5,136.8,121.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,NI,I10,013000,IE,117.0,116.7,115.4,NaN,155.9,153.5,...,101.0,140.0,120.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,NI,I10,013100,IE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8286,RI,PCH_PRE,122000,IE,-0.3,-2.3,-7.4,-6.7,2.4,7.2,...,-9.3,8.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8309,RI,PCH_PRE,129000,IE,-35.8,-30.2,24.4,5.0,9.2,-20.5,...,-33.1,-1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8334,RI,PCH_PRE,130000,IE,11.0,-5.6,-4.4,-6.6,8.3,1.6,...,-16.0,4.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8362,RI,PCH_PRE,140000,IE,9.5,-4.6,-4.0,-8.4,8.0,3.2,...,-15.8,4.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8390,RI,PCH_PRE,141000,IE,9.9,-4.9,-4.0,-8.8,8.3,3.2,...,-16.6,4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN