<style>
*
{
	text-align: justify;
	line-height: 1.5;
	font-family: "Arial", sans-serif;
	font-size: 12px;
}

h2, h3, h4, h5, h6
{
	font-family: "Arial", sans-serif;
	font-size: 12px;
	font-weight: bold;
}
h2
{
	font-size: 14px;
}
h1
{
	font-family: "Wingdings", sans-serif;
	font-size: 16px;
}
</style>

## Bovine Tuberculosis Herd Rate Prediction Model Builder

<!--
import data_analytics.github as github
print(github.create_jupyter_notebook_header("tahirawwad", "agriculture-data-analytics", "notebooks/notebook-5-01-ml-irish-bovine-tuberculosis.ipynb", "master"))
-->
<table style="margin: auto;"><tr><td><a href="https://mybinder.org/v2/gh/tahirawwad/agriculture-data-analytics/master?filepath=notebooks/notebook-5-01-ml-irish-bovine-tuberculosis.ipynb" target="_parent"><img src="https://mybinder.org/badge_logo.svg" alt="Open In Binder"/></a></td><td>online editors</td><td><a href="https://colab.research.google.com/github/tahirawwad/agriculture-data-analytics/blob/master/notebooks/notebook-5-01-ml-irish-bovine-tuberculosis.ipynbynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a></td></tr></table>

### Objective
Create a machine learning model to predict rate of Herd Tuberculosis.

### Setup

Import required third party Python libraries, import supporting functions and sets up data source file paths.

In [1]:
# Local
#!pip install -r script/requirements.txt
# Remote option
#!pip install -r https://raw.githubusercontent.com/tahirawwad/agriculture-data-analytics/requirements.txt
#Options: --quiet --user

In [2]:
from agriculture_data_analytics.project_manager import *
from agriculture_data_analytics.dataframe_labels import *
from keras_tuner.tuners import RandomSearch
from pandas import read_csv, DataFrame
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from tensorflow import keras
from tensorflow.keras import layers
from xgboost import XGBRegressor
from data_analytics import github
import numpy as np
import os
import pandas
import pickle
import shutil

In [3]:
pandas.options.display.float_format = '{:.5f}'.format

In [4]:
READ_BINARY = "rb"
WRITE_BINARY = "wb"

In [5]:
model_directory: str = "county-bovine-tb-models"
directory: str = f'./../artifacts/{model_directory}/'

In [6]:
artifact_manager: ProjectArtifactManager = ProjectArtifactManager()
artifact_manager.is_remote = True
github.display_jupyter_notebook_data_sources(
    [artifact_manager.get_county_bovine_tuberculosis_eda_filepath()])
artifact_manager.is_remote = False

https://github.com/markcrowe-com/agriculture-data-analytics/artifacts/county-bovine-tuberculosis-eda-output.csv?raw=true

### Load dataframe

In [7]:
dataframe_filepath: str = artifact_manager.get_county_bovine_tuberculosis_eda_filepath()
dataframe: DataFrame = read_csv(dataframe_filepath)

In [8]:
print("Row, Column Count:", dataframe.shape)

Row, Column Count: (319, 11)

In [9]:
dataframe

,Year,Veterinary Office,Animal Count,Herd Incidence Rate,Restricted Herds at end of Year,Restricted Herds at start of Year,Herds Tested,Herds Count,Reactors per 1000 Tests A.P.T.,Reactors to date,Tests on Animals
0,2010,Carlow,86258.00000,4.02000,28.00000,52.00000,1295.00000,1353.00000,1.14000,124.00000,108584.00000
1,2010,Cavan,202119.00000,5.32000,124.00000,257.00000,4832.00000,4915.00000,3.13000,981.00000,313822.00000
2,2010,Clare,237260.00000,5.71000,175.00000,350.00000,6134.00000,6282.00000,5.05000,1947.00000,385705.00000
3,2010,Cork North,462707.00000,4.43000,119.00000,259.00000,5849.00000,5986.00000,1.62000,1078.00000,664648.00000
4,2010,Cork South,417478.00000,6.30000,216.00000,385.00000,6107.00000,6310.00000,2.72000,1592.00000,586105.00000
...,...,...,...,...,...,...,...,...,...,...,...
314,2020,Waterford,272528.00000,2.62000,42.00000,56.00000,2141.00000,2189.00000,0.52000,196.00000,287221.00000
315,2020,Westmeath,214210.00000,6.77000,115.00000,203.00000,2998.00000,3047.00000,3.26000,1192.00000,304207.00000
316,2020,Wexford,310311.00000,4.54000,63.00000,137.00000,3016.00000,3088.00000,1.48000,701.00000,366765.00000
317,2020,Wicklow E,80707.00000,9.11000,47.00000,96.00000,1054.00000,1070.00000,3.85000,648.00000,131187.00000
318,2020,Wicklow W,44743.00000,14.46000,46.00000,73.00000,505.00000,513.00000,5.54000,576.00000,76298.00000

### Check the types for machine learning

In [10]:
dataframe.dtypes

Year                                   int64
Veterinary Office                     object
Animal Count                         float64
Herd Incidence Rate                  float64
Restricted Herds at end of Year      float64
Restricted Herds at start of Year    float64
Herds Tested                         float64
Herds Count                          float64
Reactors per 1000 Tests A.P.T.       float64
Reactors to date                     float64
Tests on Animals                     float64
dtype: object

Veterinary Office is an object, specifically a string. We must encode it as a number for machine learning.

In [11]:
dummy_values_dataframe = dataframe[[
    "Veterinary Office"
]]

dataframe.drop('Veterinary Office',
                                          axis=1,
                                          inplace=True)

dummy_values_dataframe = pandas.get_dummies(dummy_values_dataframe,
                                            columns=["Veterinary Office"],
                                            prefix=["Veterinary Office "])

In [12]:
dataframe = dataframe.join(dummy_values_dataframe)

### Set Year as Index

In [13]:
dataframe.set_index(YEAR, drop=True, inplace=True)
dataframe.head()

,Animal Count,Herd Incidence Rate,Restricted Herds at end of Year,Restricted Herds at start of Year,Herds Tested,Herds Count,Reactors per 1000 Tests A.P.T.,Reactors to date,Tests on Animals,Veterinary Office _Carlow,...,Veterinary Office _Offaly,Veterinary Office _Roscommon,Veterinary Office _Sligo,Veterinary Office _Tipperary North,Veterinary Office _Tipperary South,Veterinary Office _Waterford,Veterinary Office _Westmeath,Veterinary Office _Wexford,Veterinary Office _Wicklow E,Veterinary Office _Wicklow W
Year,,,,,,,,,,,,,,,,,,,,,
2010,86258.00000,4.02000,28.00000,52.00000,1295.00000,1353.00000,1.14000,124.00000,108584.00000,1,...,0,0,0,0,0,0,0,0,0,0
2010,202119.00000,5.32000,124.00000,257.00000,4832.00000,4915.00000,3.13000,981.00000,313822.00000,0,...,0,0,0,0,0,0,0,0,0,0
2010,237260.00000,5.71000,175.00000,350.00000,6134.00000,6282.00000,5.05000,1947.00000,385705.00000,0,...,0,0,0,0,0,0,0,0,0,0
2010,462707.00000,4.43000,119.00000,259.00000,5849.00000,5986.00000,1.62000,1078.00000,664648.00000,0,...,0,0,0,0,0,0,0,0,0,0
2010,417478.00000,6.30000,216.00000,385.00000,6107.00000,6310.00000,2.72000,1592.00000,586105.00000,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
dataframe.dtypes

Animal Count                          float64
Herd Incidence Rate                   float64
Restricted Herds at end of Year       float64
Restricted Herds at start of Year     float64
Herds Tested                          float64
Herds Count                           float64
Reactors per 1000 Tests A.P.T.        float64
Reactors to date                      float64
Tests on Animals                      float64
Veterinary Office _Carlow               uint8
Veterinary Office _Cavan                uint8
Veterinary Office _Clare                uint8
Veterinary Office _Cork North           uint8
Veterinary Office _Cork South           uint8
Veterinary Office _Donegal              uint8
Veterinary Office _Dublin               uint8
Veterinary Office _Galway               uint8
Veterinary Office _Kerry                uint8
Veterinary Office _Kildare              uint8
Veterinary Office _Kilkenny             uint8
Veterinary Office _Laois                uint8
Veterinary Office _Leitrim              uint8
Veterinary Office _Limerick             uint8
Veterinary Office _Longford             uint8
Veterinary Office _Louth                uint8
Veterinary Office _Mayo                 uint8
Veterinary Office _Meath                uint8
Veterinary Office _Monaghan             uint8
Veterinary Office _Offaly               uint8
Veterinary Office _Roscommon            uint8
Veterinary Office _Sligo                uint8
Veterinary Office _Tipperary North      uint8
Veterinary Office _Tipperary South      uint8
Veterinary Office _Waterford            uint8
Veterinary Office _Westmeath            uint8
Veterinary Office _Wexford              uint8
Veterinary Office _Wicklow E            uint8
Veterinary Office _Wicklow W            uint8
dtype: object

In [15]:
dataframe.isnull().sum()

Animal Count                          0
Herd Incidence Rate                   0
Restricted Herds at end of Year       0
Restricted Herds at start of Year     0
Herds Tested                          0
Herds Count                           0
Reactors per 1000 Tests A.P.T.        0
Reactors to date                      0
Tests on Animals                      0
Veterinary Office _Carlow             0
Veterinary Office _Cavan              0
Veterinary Office _Clare              0
Veterinary Office _Cork North         0
Veterinary Office _Cork South         0
Veterinary Office _Donegal            0
Veterinary Office _Dublin             0
Veterinary Office _Galway             0
Veterinary Office _Kerry              0
Veterinary Office _Kildare            0
Veterinary Office _Kilkenny           0
Veterinary Office _Laois              0
Veterinary Office _Leitrim            0
Veterinary Office _Limerick           0
Veterinary Office _Longford           0
Veterinary Office _Louth              0
Veterinary Office _Mayo               0
Veterinary Office _Meath              0
Veterinary Office _Monaghan           0
Veterinary Office _Offaly             0
Veterinary Office _Roscommon          0
Veterinary Office _Sligo              0
Veterinary Office _Tipperary North    0
Veterinary Office _Tipperary South    0
Veterinary Office _Waterford          0
Veterinary Office _Westmeath          0
Veterinary Office _Wexford            0
Veterinary Office _Wicklow E          0
Veterinary Office _Wicklow W          0
dtype: int64

In [16]:
print("dataset dimensions", dataframe.shape)

dataset dimensions (319, 38)

### Prepare Model Data

#### Select the feature set and the target

Select the feature set and the target

In [17]:
feature_values = dataframe.drop(columns=['Herd Incidence Rate']).values
target_values = dataframe['Herd Incidence Rate'].values.reshape(-1, 1)

print(f'Features dimension: {np.shape(feature_values)[1]} Columns, {np.shape(feature_values)[0]} Rows')
print(f'Target dimension:   {np.shape(target_values)[1]} Column,  {np.shape(target_values)[0]} Rows')

Features dimension: 37 Columns, 319 Rows
Target dimension:   1 Column,  319 Rows

#### Define Training and Test Sets

The data is liner data and should not be shuffled. Set test set size to 20%.

In [18]:
test_size: float = 0.8
X_train, X_test, Y_train, Y_test = train_test_split(feature_values,
                                                    target_values,
                                                    test_size=test_size,
                                                    shuffle=False)

#### Scale & Transform

In [19]:
features_scaler = MinMaxScaler()

features_scaler.fit(X_train)

xtest_scale = features_scaler.transform(X_test)
xtrain_scale = features_scaler.transform(X_train)

In [20]:
target_scaler = MinMaxScaler()

target_scaler.fit(Y_train)

ytrain_scale = target_scaler.transform(Y_train)
ytest_scale = target_scaler.transform(Y_test)

##### Save Scalers

In [21]:
filename: str = 'features-scaler.pickle'
features_scaler_filepath: str = f'{directory}{filename}'

with open(features_scaler_filepath, WRITE_BINARY) as file:
    pickle.dump(features_scaler, file)

In [22]:
filename: str = 'target-scaler.pickle'
target_scaler_filepath: str = f'{directory}{filename}'

with open(target_scaler_filepath, WRITE_BINARY) as file:
    pickle.dump(target_scaler, file)

### Model Testing

#### Score Board

In [23]:
model_scores_dataframe = DataFrame(
    columns=['Model', 'Mean Absolute Error Score(%)'])

#### Random Forest Regressor

##### Train Model

Hyper parameter tuning via Grid Search Cross Validation

In [24]:
xtrain_scale

array([[0.13938889, 0.07655502, 0.07013575, ..., 0.        , 0.        ,
        0.        ],
       [0.38183374, 0.53588517, 0.53393665, ..., 0.        , 0.        ,
        0.        ],
       [0.45536802, 0.77990431, 0.74434389, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.49287905, 0.66507177, 0.65384615, ..., 0.        , 0.        ,
        0.        ],
       [1.        , 0.73205742, 0.60859729, ..., 0.        , 0.        ,
        0.        ],
       [0.88034594, 1.        , 0.78280543, ..., 0.        , 0.        ,
        0.        ]])

In [25]:
random_forest_regressor = RandomForestRegressor()

random_forest_regressor_paramaters_grid = {
    'bootstrap': [True, False],
    'criterion': ['squared_error', 'absolute_error', 'poisson'],
    'max_depth': [1, 3, 5],
    'max_features': ["auto", "sqrt", "log2"],
    'n_estimators': [100, 500, 800],  # Number of trees
}

grid_search_cv = GridSearchCV(
    estimator=random_forest_regressor,
    param_grid=random_forest_regressor_paramaters_grid,
    n_jobs=-1,  # Use all processors on CPU
    cv=5)  #cross validation 5 fold of datasets

grid_search_cv.fit(xtrain_scale, ytrain_scale.reshape(-1))

GridSearchCV(cv=5, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'bootstrap': [True, False],
                         'criterion': ['squared_error', 'absolute_error',
                                       'poisson'],
                         'max_depth': [1, 3, 5],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [100, 500, 800]})

##### Test and Score Model

In [26]:
print('Best training model', grid_search_cv.best_estimator_)
print('Best training model score, coefficient of determination R squared',
      grid_search_cv.best_score_)

y_predict = target_scaler.inverse_transform(
    grid_search_cv.predict(xtest_scale).reshape(-1, 1))
mae_score = mean_absolute_error(Y_test, y_predict)

Best training model RandomForestRegressor(bootstrap=False, max_depth=5, max_features='sqrt')
Best training model score, coefficient of determination R squared 0.6665846814994858

##### Save Model Score

In [27]:
values = ['Random Forest Regressor', mae_score]
model_scores_dataframe.loc[len(model_scores_dataframe)] = values
model_scores_dataframe.head()

                     Model  Mean Absolute Error Score(%)
0  Random Forest Regressor                       1.07759

#### XGBOOST Regressor

##### Train Model

In [28]:
# define XGBRegressor
xgb_regressor_milk = XGBRegressor(random_state=2021)

# define parameters space to loop over
params_xgb_milk = {
    'n_estimators': [20, 40, 80, 160, 340, 500],
    'max_depth': [3, 6, 9],
    'gamma': [0.01, 0.1],
    'learning_rate': [0.001, 0.01, 0.1, 1]
}

# Hyper parameter tuning via Grid Search Cross Validation
grid_xgb_milk = GridSearchCV(
    estimator=xgb_regressor_milk,
    param_grid=params_xgb_milk,
    #n_jobs=-1,
    scoring=['r2', 'neg_root_mean_squared_error'],
    refit='r2',
    n_jobs=-1,
    cv=5,
    verbose=4)

# fit grid to training scaled set
grid_xgb_milk.fit(xtrain_scale, ytrain_scale)

# print best training model & R squared score
print('Best training model ', grid_xgb_milk.best_estimator_)
print('Best model Parameters', grid_xgb_milk.best_params_)
print('Best training model score, coefficient of determination R squared',
      grid_xgb_milk.best_score_)

Fitting 5 folds for each of 144 candidates, totalling 720 fits
Best training model  XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0.01, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=340, n_jobs=8,
             num_parallel_tree=1, predictor='auto', random_state=2021,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)
Best model Parameters {'gamma': 0.01, 'learning_rate': 0.1, 'max_depth': 3, 'n_estimators': 340}
Best training model score, coefficient of determination R squared 0.4370026552468394

##### Test and Score Model

In [29]:
y_predict = target_scaler.inverse_transform(
    grid_xgb_milk.predict(xtest_scale).reshape(-1, 1))

mae_score = mean_absolute_error(Y_test, y_predict)

##### Save Model Score

In [30]:
model_scores_dataframe.loc[len(model_scores_dataframe)] = ['XGBOOST', mae_score]
model_scores_dataframe.head()

                     Model  Mean Absolute Error Score(%)
0  Random Forest Regressor                       1.07759
1                  XGBOOST                       1.16595

#### ANN Artificial Neural Network

##### Train Model

In [31]:
#Training & Keras Parameter Tuning

temp_directory: str = './../temp/ANN-tuner/'


# Define ANN model with Hyper parameter variable
def build_model(hp):
    model = keras.Sequential()
    for i in range(hp.Int('num_layers', 2, 23)):
        model.add(
            layers.Dense(units=hp.Int('units_' + str(i),
                                      min_value=23,
                                      max_value=600,
                                      step=32),
                         activation='relu'))
        model.add(layers.Dense(1, activation='linear'))
        model.compile(optimizer=keras.optimizers.Adam(
            hp.Choice('learning_rate', [1e-2, 1e-3, 1e-4])),
                      loss='mean_absolute_error',
                      metrics=['mean_absolute_error'])
        return model


if os.path.isdir(temp_directory):
    try:
        shutil.rmtree(temp_directory)
    except OSError as exception:
        print(f"Error: {exception.filename} - {exception.strerror}.")

# create a directory to store each iteration of modelling
tuner = RandomSearch(build_model,
                     objective='val_mean_absolute_error',
                     max_trials=5,
                     executions_per_trial=3,
                     directory=temp_directory,
                     project_name='Milk production')

# Defined parameter space to search in
tuner.search_space_summary()

# train trial models and compare with validation set
tuner.search(xtrain_scale,
             ytrain_scale,
             epochs=50,
             validation_data=(xtest_scale, ytest_scale))

# print best 10 models according to val_mean_absolute_error
print('\n')
tuner.results_summary()

# get best model from training trials
bestANNModel = tuner.get_best_models(num_models=1)[0]

# fit best model to training scaled data and scaled test data
bestANNModel.fit(xtrain_scale,
                 ytrain_scale,
                 epochs=50,
                 validation_data=(xtest_scale, ytest_scale))
#Clean up
if os.path.isdir(temp_directory):
    try:
        shutil.rmtree(temp_directory)
    except OSError as exception:
        print(f"Error: {exception.filename} - {exception.strerror}.")

Trial 5 Complete [00h 00m 17s]
val_mean_absolute_error: 0.08171459039052327

Best val_mean_absolute_error So Far: 0.061815693974494934
Total elapsed time: 00h 01m 34s
INFO:tensorflow:Oracle triggered exit


Results summary
Results in ./../temp/ANN-tuner/Milk production
Showing 10 best trials
Objective(name='val_mean_absolute_error', direction='min')
Trial summary
Hyperparameters:
num_layers: 3
units_0: 535
learning_rate: 0.001
Score: 0.061815693974494934
Trial summary
Hyperparameters:
num_layers: 18
units_0: 279
learning_rate: 0.001
Score: 0.068784994383653
Trial summary
Hyperparameters:
num_layers: 22
units_0: 311
learning_rate: 0.0001
Score: 0.07565981646378835
Trial summary
Hyperparameters:
num_layers: 15
units_0: 375
learning_rate: 0.0001
Score: 0.08171459039052327
Trial summary
Hyperparameters:
num_layers: 9
units_0: 247
learning_rate: 0.0001
Score: 0.09422232210636139
Epoch 1/50
2/2 [==============================] - 1s 228ms/step - loss: 0.0234 - mean_absolute_error: 0.0234 - val_loss: 0.0671 - val_mean_absolute_error: 0.0671
Epoch 2/50
2/2 [==============================] - 0s 66ms/step - loss: 0.0258 - mean_absolute_error: 0.0258 - val_loss: 0.0606 - val_mean_absolute_error: 0.0606
Epoch 3/50
2/2 [==============================] - 0s 39ms/step - loss: 0.0208 - mean_absolute_error: 0.0208 - val_loss: 0.0581 - val_mean_absolute_error: 0.0581
Epoch 4/50
2/2 [==============================] - 0s 40ms/step - loss: 0.0237 - mean_absolute_error: 0.0237 - val_loss: 0.0597 - val_mean_absolute_error: 0.0597
Epoch 5/50
2/2 [==============================] - 0s 47ms/step - loss: 0.0213 - mean_absolute_error: 0.0213 - val_loss: 0.0584 - val_mean_absolute_error: 0.0584
Epoch 6/50
2/2 [==============================] - 0s 49ms/step - loss: 0.0208 - mean_absolute_error: 0.0208 - val_loss: 0.0566 - val_mean_absolute_error: 0.0566
Epoch 7/50
2/2 [==============================] - 0s 54ms/step - loss: 0.0200 - mean_absolute_error: 0.0200 - val_loss: 0.0578 - val_mean_absolute_error: 0.0578
Epoch 8/50
2/2 [==============================] - 0s 52ms/step - loss: 0.0204 - mean_absolute_error: 0.0204 - val_loss: 0.0573 - val_mean_absolute_error: 0.0573
Epoch 9/50
2/2 [==============================] - 0s 48ms/step - loss: 0.0202 - mean_absolute_error: 0.0202 - val_loss: 0.0584 - val_mean_absolute_error: 0.0584
Epoch 10/50
2/2 [==============================] - 0s 47ms/step - loss: 0.0207 - mean_absolute_error: 0.0207 - val_loss: 0.0579 - val_mean_absolute_error: 0.0579
Epoch 11/50
2/2 [==============================] - 0s 44ms/step - loss: 0.0203 - mean_absolute_error: 0.0203 - val_loss: 0.0572 - val_mean_absolute_error: 0.0572
Epoch 12/50
2/2 [==============================] - 0s 53ms/step - loss: 0.0204 - mean_absolute_error: 0.0204 - val_loss: 0.0587 - val_mean_absolute_error: 0.0587
Epoch 13/50
2/2 [==============================] - 0s 48ms/step - loss: 0.0195 - mean_absolute_error: 0.0195 - val_loss: 0.0580 - val_mean_absolute_error: 0.0580
Epoch 14/50
2/2 [==============================] - 0s 47ms/step - loss: 0.0205 - mean_absolute_error: 0.0205 - val_loss: 0.0589 - val_mean_absolute_error: 0.0589
Epoch 15/50
2/2 [==============================] - 0s 49ms/step - loss: 0.0196 - mean_absolute_error: 0.0196 - val_loss: 0.0590 - val_mean_absolute_error: 0.0590
Epoch 16/50
2/2 [==============================] - 0s 46ms/step - loss: 0.0207 - mean_absolute_error: 0.0207 - val_loss: 0.0560 - val_mean_absolute_error: 0.0560
Epoch 17/50
2/2 [==============================] - 0s 45ms/step - loss: 0.0200 - mean_absolute_error: 0.0200 - val_loss: 0.0572 - val_mean_absolute_error: 0.0572
Epoch 18/50
2/2 [==============================] - 0s 46ms/step - loss: 0.0185 - mean_absolute_error: 0.0185 - val_loss: 0.0561 - val_mean_absolute_error: 0.0561
Epoch 19/50
2/2 [==============================] - 0s 37ms/step - loss: 0.0190 - mean_absolute_error: 0.0190 - val_loss: 0.0563 - val_mean_absolute_error: 0.0563
Epoch 20/50
2/2 [==============================] - 0s 53ms/step - loss: 0.0185 - mean_absolute_error: 0.0185 - val_loss: 0.0571 - val_mean_absolute_error: 0.0571
Epoch 21/50
2/2 [==============================] - 0s 45ms/step - loss: 0.0206 - mean_absolute_error: 0.0206 - val_loss: 0.0563 - val_mean_absolute_error: 0.0563
Epoch 22/50
2/2 [==============================] - 0s 36ms/step - loss: 0.0171 - mean_absolute_error: 0.0171 - val_loss: 0.0585 - val_mean_absolute_error: 0.0585
Epoch 23/50
2/2 [==============================] - 0s 37ms/step - loss: 0.0186 - mean_absolute_error: 0.0186 - val_loss: 0.0568 - val_mean_absolute_error: 0.0568
Epoch 24/50
2/2 [==============================] - 0s 43ms/step - loss: 0.0204 - mean_absolute_error: 0.0204 - val_loss: 0.0562 - val_mean_absolute_error: 0.0562
Epoch 25/50
2/2 [==============================] - 0s 43ms/step - loss: 0.0190 - mean_absolute_error: 0.0190 - val_loss: 0.0582 - val_mean_absolute_error: 0.0582
Epoch 26/50
2/2 [==============================] - 0s 47ms/step - loss: 0.0177 - mean_absolute_error: 0.0177 - val_loss: 0.0568 - val_mean_absolute_error: 0.0568
Epoch 27/50
2/2 [==============================] - 0s 52ms/step - loss: 0.0223 - mean_absolute_error: 0.0223 - val_loss: 0.0564 - val_mean_absolute_error: 0.0564
Epoch 28/50
2/2 [==============================] - 0s 46ms/step - loss: 0.0180 - mean_absolute_error: 0.0180 - val_loss: 0.0613 - val_mean_absolute_error: 0.0613
Epoch 29/50
2/2 [==============================] - 0s 43ms/step - loss: 0.0228 - mean_absolute_error: 0.0228 - val_loss: 0.0561 - val_mean_absolute_error: 0.0561
Epoch 30/50
2/2 [==============================] - 0s 43ms/step - loss: 0.0234 - mean_absolute_error: 0.0234 - val_loss: 0.0564 - val_mean_absolute_error: 0.0564
Epoch 31/50
2/2 [==============================] - 0s 46ms/step - loss: 0.0207 - mean_absolute_error: 0.0207 - val_loss: 0.0581 - val_mean_absolute_error: 0.0581
Epoch 32/50
2/2 [==============================] - 0s 46ms/step - loss: 0.0224 - mean_absolute_error: 0.0224 - val_loss: 0.0553 - val_mean_absolute_error: 0.0553
Epoch 33/50
2/2 [==============================] - 0s 42ms/step - loss: 0.0200 - mean_absolute_error: 0.0200 - val_loss: 0.0570 - val_mean_absolute_error: 0.0570
Epoch 34/50
2/2 [==============================] - 0s 45ms/step - loss: 0.0225 - mean_absolute_error: 0.0225 - val_loss: 0.0572 - val_mean_absolute_error: 0.0572
Epoch 35/50
2/2 [==============================] - 0s 73ms/step - loss: 0.0235 - mean_absolute_error: 0.0235 - val_loss: 0.0597 - val_mean_absolute_error: 0.0597
Epoch 36/50
2/2 [==============================] - 0s 61ms/step - loss: 0.0205 - mean_absolute_error: 0.0205 - val_loss: 0.0568 - val_mean_absolute_error: 0.0568
Epoch 37/50
2/2 [==============================] - 0s 50ms/step - loss: 0.0235 - mean_absolute_error: 0.0235 - val_loss: 0.0550 - val_mean_absolute_error: 0.0550
Epoch 38/50
2/2 [==============================] - 0s 50ms/step - loss: 0.0184 - mean_absolute_error: 0.0184 - val_loss: 0.0587 - val_mean_absolute_error: 0.0587
Epoch 39/50
2/2 [==============================] - 0s 37ms/step - loss: 0.0210 - mean_absolute_error: 0.0210 - val_loss: 0.0561 - val_mean_absolute_error: 0.0561
Epoch 40/50
2/2 [==============================] - 0s 45ms/step - loss: 0.0171 - mean_absolute_error: 0.0171 - val_loss: 0.0566 - val_mean_absolute_error: 0.0566
Epoch 41/50
2/2 [==============================] - 0s 43ms/step - loss: 0.0198 - mean_absolute_error: 0.0198 - val_loss: 0.0558 - val_mean_absolute_error: 0.0558
Epoch 42/50
2/2 [==============================] - 0s 40ms/step - loss: 0.0191 - mean_absolute_error: 0.0191 - val_loss: 0.0550 - val_mean_absolute_error: 0.0550
Epoch 43/50
2/2 [==============================] - 0s 40ms/step - loss: 0.0156 - mean_absolute_error: 0.0156 - val_loss: 0.0575 - val_mean_absolute_error: 0.0575
Epoch 44/50
2/2 [==============================] - 0s 52ms/step - loss: 0.0191 - mean_absolute_error: 0.0191 - val_loss: 0.0574 - val_mean_absolute_error: 0.0574
Epoch 45/50
2/2 [==============================] - 0s 33ms/step - loss: 0.0192 - mean_absolute_error: 0.0192 - val_loss: 0.0584 - val_mean_absolute_error: 0.0584
Epoch 46/50

2/2 [==============================] - 0s 30ms/step - loss: 0.0196 - mean_absolute_error: 0.0196 - val_loss: 0.0561 - val_mean_absolute_error: 0.0561
Epoch 47/50
2/2 [==============================] - 0s 33ms/step - loss: 0.0201 - mean_absolute_error: 0.0201 - val_loss: 0.0557 - val_mean_absolute_error: 0.0557
Epoch 48/50
2/2 [==============================] - 0s 30ms/step - loss: 0.0217 - mean_absolute_error: 0.0217 - val_loss: 0.0556 - val_mean_absolute_error: 0.0556
Epoch 49/50
2/2 [==============================] - 0s 21ms/step - loss: 0.0181 - mean_absolute_error: 0.0181 - val_loss: 0.0551 - val_mean_absolute_error: 0.0551
Epoch 50/50
2/2 [==============================] - 0s 22ms/step - loss: 0.0194 - mean_absolute_error: 0.0194 - val_loss: 0.0551 - val_mean_absolute_error: 0.0551

##### Test and Score Model

In [32]:
# Predict Milk Production and un-scale back to original values

y_predict = target_scaler.inverse_transform(
    bestANNModel.predict(xtest_scale).reshape(-1, 1))

print('predicted milk production values \n', y_predict)
print('actual milk production values \n', Y_test)

# Calculate Mean Absolute Error
mae_score = mean_absolute_error(Y_test, y_predict)
#print(MAE_xgb)

predicted milk production values
 [[ 4.927619 ]
 [ 5.7589717]
 [ 2.0756621]
 [ 2.1440258]
 [ 4.6133747]
 [ 6.7420864]
 [ 4.8885236]
 [ 2.210798 ]
 [ 3.5160246]
 [ 3.7206604]
 [ 3.364041 ]
 [ 1.9036118]
 [ 7.5358305]
 [ 3.0092685]
 [ 4.7812166]
 [ 4.8427615]
 [ 3.6660023]
 [ 4.859888 ]
 [ 3.3133144]
 [ 4.8776445]
 [ 5.925457 ]
 [ 7.222612 ]
 [13.28186  ]
 [ 5.6706347]
 [ 3.466308 ]
 [ 4.584647 ]
 [ 4.8685937]
 [ 4.9592466]
 [ 4.839867 ]
 [ 3.677101 ]
 [ 6.0074153]
 [ 2.3084297]
 [ 2.301007 ]
 [ 4.503135 ]
 [ 5.7834525]
 [ 4.2195334]
 [ 2.26514  ]
 [ 3.1408901]
 [ 3.272616 ]
 [ 3.5010407]
 [ 1.9479272]
 [ 6.917227 ]
 [ 3.517059 ]
 [ 4.7086034]
 [ 4.4885683]
 [ 2.8016632]
 [ 5.133378 ]
 [ 2.971101 ]
 [ 4.5676517]
 [ 4.936998 ]
 [ 7.507519 ]
 [11.889173 ]
 [ 5.0295925]
 [ 3.2811985]
 [ 3.7052226]
 [ 4.964939 ]
 [ 4.8182845]
 [ 3.8208137]
 [ 2.6725144]
 [ 5.72781  ]
 [ 2.544787 ]
 [ 2.358849 ]
 [ 4.856531 ]
 [ 5.1281066]
 [ 4.0243993]
 [ 2.7225494]
 [ 2.5043452]
 [ 3.0541692]
 [ 2.9468064]
 [ 1.0737513]
 [ 6.1769404]
 [ 2.7574787]
 [ 4.6874843]
 [ 4.1445155]
 [ 3.3502758]
 [ 4.069446 ]
 [ 3.0414674]
 [ 4.0530186]
 [ 5.5830398]
 [ 6.954098 ]
 [14.25368  ]
 [ 5.446173 ]
 [ 4.664912 ]
 [ 4.314533 ]
 [ 4.1654434]
 [ 3.9377081]
 [ 4.0405936]
 [ 1.9439546]
 [ 6.1516547]
 [ 2.0226789]
 [ 1.4161439]
 [ 4.946217 ]
 [ 5.1916695]
 [ 4.6504154]
 [ 2.4101048]
 [ 2.2736676]
 [ 3.2126856]
 [ 3.1244063]
 [ 1.0568626]
 [ 6.256005 ]
 [ 3.2193658]
 [ 5.0096164]
 [ 2.9781017]
 [ 3.1590478]
 [ 3.6294193]
 [ 3.2882926]
 [ 4.015571 ]
 [ 5.014129 ]
 [ 6.2888117]
 [11.517748 ]
 [ 8.05877  ]
 [ 3.5715904]
 [ 3.3531551]
 [ 4.1184697]
 [ 4.5232635]
 [ 3.0637167]
 [ 1.9965996]
 [ 5.883075 ]
 [ 1.9720849]
 [ 2.0218203]
 [ 4.7242   ]
 [ 4.671071 ]
 [ 4.7123713]
 [ 1.5268718]
 [ 2.4977047]
 [ 3.0343497]
 [ 3.737983 ]
 [ 1.3790544]
 [ 6.737087 ]
 [ 4.1502433]
 [ 4.759059 ]
 [ 2.5776255]
 [ 2.4447553]
 [ 4.2418947]
 [ 3.250676 ]
 [ 4.0299053]
 [ 4.393094 ]
 [ 5.1967177]
 [12.008005 ]
 [ 6.8581605]
 [ 3.601189 ]
 [ 6.2983627]
 [ 3.6286726]
 [ 4.9807153]
 [ 3.4060156]
 [ 1.5414318]
 [ 6.3397713]
 [ 1.9547198]
 [ 2.1359756]
 [ 4.771411 ]
 [ 4.293028 ]
 [ 4.265776 ]
 [ 2.886903 ]
 [ 2.2203658]
 [ 3.000225 ]
 [ 3.530552 ]
 [ 2.3168716]
 [ 6.542349 ]
 [ 5.1649513]
 [ 4.1402707]
 [ 2.87811  ]
 [ 3.0232637]
 [ 4.132205 ]
 [ 3.3241484]
 [ 3.5701072]
 [ 6.0359097]
 [ 5.4399314]
 [ 9.935061 ]
 [ 6.056741 ]
 [ 3.63626  ]
 [ 4.3028603]
 [ 3.9481637]
 [ 6.0494266]
 [ 2.2898426]
 [ 1.4032362]
 [ 7.351335 ]
 [ 1.301555 ]
 [ 1.9819679]
 [ 4.8203187]
 [ 4.282686 ]
 [ 4.43608  ]
 [ 1.9435426]
 [ 2.0459602]
 [ 3.0246694]
 [ 3.185156 ]
 [ 2.2041996]
 [ 6.3041983]
 [ 8.557432 ]
 [ 4.3649325]
 [ 2.5529404]
 [ 3.6724808]
 [ 5.1652703]
 [ 3.147526 ]
 [ 3.9981625]
 [ 4.9308147]
 [ 5.155137 ]
 [11.84449  ]
 [ 6.214759 ]
 [ 3.4560237]
 [ 4.390337 ]
 [ 4.4051247]
 [ 6.674923 ]
 [ 2.710845 ]
 [ 1.8321513]
 [ 7.119781 ]
 [ 2.2837882]
 [ 2.1428893]
 [ 4.7985024]
 [ 5.1206837]
 [ 4.5636725]
 [ 2.5226457]
 [ 2.0241885]
 [ 2.9587226]
 [ 3.7865124]
 [ 1.433144 ]
 [ 6.4478974]
 [ 5.988045 ]
 [ 5.4186773]
 [ 2.908992 ]
 [ 2.5347788]
 [ 3.95954  ]
 [ 3.3778841]
 [ 3.834143 ]
 [ 5.1821575]
 [ 5.2453065]
 [12.970973 ]
 [ 6.205717 ]
 [ 3.8215685]
 [ 5.4631042]
 [ 4.0268126]
 [ 8.284506 ]
 [ 3.3244786]
 [ 1.5305082]
 [ 7.1657257]
 [ 2.712029 ]
 [ 1.8182682]
 [ 5.0979347]
 [ 4.6883454]
 [ 5.3568544]
 [ 1.9011683]
 [ 2.3111029]
 [ 3.601542 ]
 [ 4.731937 ]
 [ 2.869731 ]
 [ 7.63642  ]
 [ 6.2611265]
 [ 5.6088357]
 [ 2.6533198]
 [ 3.6208186]
 [ 6.5335155]
 [ 5.5813303]
 [ 4.009131 ]
 [ 6.301402 ]
 [ 5.019142 ]
 [10.970043 ]
 [ 6.6991696]]
actual milk production values
 [[ 4.28]
 [ 6.63]
 [ 2.53]
 [ 2.66]
 [ 4.21]
 [ 6.62]
 [ 4.91]
 [ 2.27]
 [ 4.06]
 [ 3.47]
 [ 4.7 ]
 [ 2.01]
 [ 7.39]
 [ 2.73]
 [ 4.51]
 [ 4.65]
 [ 3.5 ]
 [ 5.5 ]
 [ 3.5 ]
 [ 4.7 ]
 [ 5.66]
 [ 7.82]
 [10.64]
 [ 9.64]
 [ 2.53]
 [ 4.41]
 [ 4.83]
 [ 4.5 ]
 [ 5.04]
 [ 3.95]
 [ 8.09]
 [ 2.71]
 [ 2.8 ]
 [ 3.71]
 [ 5.35]
 [ 3.37]
 [ 2.32]
 [ 3.01]
 [ 2.66]
 [ 5.12]
 [ 1.92]
 [ 6.09]
 [ 3.15]
 [ 4.13]
 [ 4.42]
 [ 2.91]
 [ 5.09]
 [ 2.92]
 [ 3.53]
 [ 5.04]
 [ 8.44]
 [ 8.18]
 [ 7.46]
 [ 1.99]
 [ 3.76]
 [ 4.87]
 [ 4.62]
 [ 4.24]
 [ 2.85]
 [ 7.29]
 [ 2.83]
 [ 3.02]
 [ 4.5 ]
 [ 4.42]
 [ 3.23]
 [ 2.98]
 [ 2.52]
 [ 2.12]
 [ 3.73]
 [ 1.39]
 [ 5.48]
 [ 2.54]
 [ 4.8 ]
 [ 4.31]
 [ 3.09]
 [ 4.31]
 [ 3.21]
 [ 2.75]
 [ 6.16]
 [ 6.95]
 [ 8.15]
 [ 8.47]
 [ 4.39]
 [ 3.93]
 [ 4.1 ]
 [ 3.6 ]
 [ 3.83]
 [ 1.98]
 [ 7.14]
 [ 2.57]
 [ 2.05]
 [ 4.31]
 [ 4.23]
 [ 4.34]
 [ 2.9 ]
 [ 1.92]
 [ 2.55]
 [ 3.95]
 [ 1.45]
 [ 5.37]
 [ 3.1 ]
 [ 5.2 ]
 [ 3.03]
 [ 3.51]
 [ 4.1 ]
 [ 3.13]
 [ 2.68]
 [ 4.95]
 [ 6.29]
 [ 6.78]
 [12.89]
 [ 2.52]
 [ 3.27]
 [ 3.84]
 [ 4.36]
 [ 3.56]
 [ 2.21]
 [ 7.05]
 [ 2.6 ]
 [ 2.48]
 [ 3.56]
 [ 3.65]
 [ 4.2 ]
 [ 1.56]
 [ 2.43]
 [ 2.35]
 [ 3.9 ]
 [ 1.57]
 [ 5.6 ]
 [ 4.01]
 [ 4.79]
 [ 2.58]
 [ 2.62]
 [ 4.33]
 [ 2.99]
 [ 2.69]
 [ 4.51]
 [ 4.54]
 [ 7.26]
 [12.52]
 [ 3.55]
 [ 5.53]
 [ 3.37]
 [ 4.72]
 [ 4.1 ]
 [ 2.  ]
 [ 5.57]
 [ 2.59]
 [ 2.7 ]
 [ 3.64]
 [ 3.24]
 [ 3.28]
 [ 2.87]
 [ 2.26]
 [ 2.21]
 [ 4.01]
 [ 2.2 ]
 [ 5.77]
 [ 4.94]
 [ 3.66]
 [ 2.71]
 [ 3.04]
 [ 4.26]
 [ 3.27]
 [ 1.66]
 [ 5.72]
 [ 4.57]
 [ 5.97]
 [11.05]
 [ 2.75]
 [ 4.19]
 [ 3.77]
 [ 5.66]
 [ 2.72]
 [ 1.7 ]
 [ 8.4 ]
 [ 2.23]
 [ 2.62]
 [ 3.52]
 [ 2.92]
 [ 3.6 ]
 [ 2.02]
 [ 1.79]
 [ 1.97]
 [ 4.88]
 [ 2.2 ]
 [ 5.39]
 [ 8.91]
 [ 3.96]
 [ 2.72]
 [ 3.94]
 [ 4.85]
 [ 2.86]
 [ 2.78]
 [ 4.82]
 [ 4.33]
 [ 9.51]
 [ 8.6 ]
 [ 2.91]
 [ 4.55]
 [ 4.67]
 [ 6.12]
 [ 3.12]
 [ 2.32]
 [ 5.34]
 [ 2.79]
 [ 2.83]
 [ 3.24]
 [ 4.33]
 [ 4.25]
 [ 2.57]
 [ 2.06]
 [ 2.21]
 [ 5.52]
 [ 1.63]
 [ 5.56]
 [ 7.02]
 [ 5.08]
 [ 3.05]
 [ 2.91]
 [ 4.21]
 [ 2.84]
 [ 2.39]
 [ 5.21]
 [ 4.88]
 [ 9.6 ]
 [12.33]
 [ 3.43]
 [ 5.54]
 [ 4.53]
 [ 8.02]
 [ 3.99]
 [ 1.73]
 [ 8.  ]
 [ 3.28]
 [ 2.58]
 [ 4.36]
 [ 3.68]
 [ 5.52]
 [ 2.12]
 [ 2.81]
 [ 3.33]
 [ 7.64]
 [ 2.59]
 [ 7.65]
 [ 7.35]
 [ 5.54]
 [ 2.92]
 [ 3.97]
 [ 6.67]
 [ 4.81]
 [ 2.62]
 [ 6.77]
 [ 4.54]
 [ 9.11]
 [14.46]]

##### Save Model Score

In [33]:
model_scores_dataframe.loc[len(model_scores_dataframe)] = ['ANN', mae_score]
model_scores_dataframe.head()

                     Model  Mean Absolute Error Score(%)
0  Random Forest Regressor                       1.07759
1                  XGBOOST                       1.16595
2                      ANN                       0.76291

### Save Artifacts

Save trained model into binary pickle file to use the model later with new input data from web app

#### Save Models

In [34]:
filename: str = 'ann-model.h5'
ann_filepath: str = f'{directory}{filename}'
bestANNModel.save(ann_filepath, save_format='h5')